<div style="background-image: url('https://eternapartners.com/wp-content/uploads/2019/02/Diamonds.jpg');">

<mat-tab-group mat-align-tabs="center" backgroundColor="primary">
    <mat-tab label="4Cs OF DIAMOND QUALITY">
        <div class="content">
            <mat-card class="mat-elevation-z4">
                <mat-card-title>4Cs OF DIAMOND QUALITY</mat-card-title>
                <mat-card-subtitle>Beautiful. Rare. Cherished. Each diamond is unique and is a miracle of time, place and change. And each has specific qualities that establish its value.</mat-card-subtitle>
                    <iframe width="700" height="506" src="https://www.youtube.com/embed/tXdPlZPI9qM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <mat-card-content>
                    <p>
                        Until the middle of the twentieth century, there was no agreed-upon standard by which diamonds could be judged. GIA created the first, and now globally accepted standard for describing diamonds: Color, Clarity, Cut and Carat Weight. Today, the 4Cs of Diamond Quality is the universal method for assessing the quality of any diamond, anywhere in the world. The creation of the Diamond 4Cs meant two very important things: diamond quality could be communicated in a universal language, and diamond customers could now know exactly what they were about to purchase.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button href="https://4cs.gia.edu/en-us/4cs-diamond-quality/" target="_blank">More details</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab *ngFor="let parameter of parameters" label="{{parameter.title}}">
        <div class="content">
            <mat-card class="mat-elevation-z4">
                <mat-card-title>{{parameter.title}}</mat-card-title>
                <mat-card-subtitle>{{parameter.subtitle}}</mat-card-subtitle>
                <img src="{{parameter.image}}">
                <mat-card-content>
                    <p>
                    {{parameter.summary}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-button href="{{parameter.link}}" target="_blank">More details</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>
</div>