    <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/4) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let web of webs" style="display: flex;">
            <mat-card class="mat-elevation-z4">
              <mat-card-header>
                <mat-card-title>{{web.title}}</mat-card-title>
                <mat-card-subtitle>{{web.subtitle}}</mat-card-subtitle>
              </mat-card-header>
              
              <img mat-card-image src="{{web.image}}" height="40%">
              <mat-card-content>
                <p>
                  {{web.summary}}   
                </p>
              </mat-card-content>
              <mat-card-actions style="margin-top: 40px;">
                <a mat-button href="{{web.link}}" target="_blank">Visit {{web.title}}</a>
              </mat-card-actions>
            </mat-card>
      </div>
    </div>
  </div>
  
