<div class ="page">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Nice to see you again</mat-card-subtitle>
    </mat-card-header>
    <form #signinForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Email</mat-label>
              <input matInput placeholder="example: you@you.com"
                [(ngModel)] = "email"
                name = "email"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Password</mat-label>
              <input matInput placeholder="example: 42343@@##aZ"
                [(ngModel)] = "password" 
                name = "password" 
                type = "password"
                required>
              <mat-hint>6 chracters or more</mat-hint>
            </mat-form-field>
          </p>                                       
        <div >
          <mat-card-actions>
            <button mat-raised-button (click) = "back()">Back</button>
              <button mat-raised-button color="primary"
                      [disabled]="!signinForm.form.valid"
                       (click)="onSubmit()">
                       Sign In
              </button>
            </mat-card-actions>
          </div>
          <mat-error><p *ngIf = "isError"><mat-icon>error</mat-icon>{{errorMessage}}</p></mat-error>
        </div>
      </form>
     </mat-card>
    </div>

