<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <br>
      <div *ngIf = "(authService.getUser()|async)">
        <h2 class="welcomeText">Welcome</h2>
        <b><p class="name">{{email}}</p></b>
        <hr>
      </div>
    <mat-toolbar *ngIf = "(authService.getUser()|async)">Menu</mat-toolbar>
    <mat-nav-list *ngIf = "(authService.getUser()|async)">
      <a mat-list-item routerLink="/mydiamonds" routerLinkActive="active"><mat-icon>person_outline</mat-icon>My Diamonds</a>
      <a mat-list-item routerLink="/diamonds" routerLinkActive="active"><mat-icon>view_list</mat-icon>Diamonds</a>
      <a mat-list-item routerLink="/diamondsform" routerLinkActive="active"><mat-icon>add</mat-icon>Add Diamond</a>
      <a mat-list-item routerLink="/sales" routerLinkActive="active"><mat-icon>attach_money</mat-icon>Sales</a>
      <a mat-list-item routerLink="/compface" routerLinkActive="active"><mat-icon>compare</mat-icon>Rekognition</a>
    </mat-nav-list>
    <mat-toolbar *ngIf = "!(authService.getUser()|async)">Hello</mat-toolbar>
    <mat-nav-list *ngIf = "!(authService.getUser()|async)">
      <a mat-list-item routerLink="/parameters" routerLinkActive="active"><mat-icon>filter_4</mat-icon>4Cs Of Diamond</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active"><mat-icon>info</mat-icon> About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a mat-list-item routerLink="/welcome" routerLinkActive="active">
        <img src="https://logodix.com/logo/12428.png" style="width: 90px;" height="45px" >
      </a>
      <span class = "spacer"></span>
      <a class = "whitelink" routerLink = "/signup" *ngIf = "!(authService.getUser() | async)">Sign up</a>
      <a class = "whitelink" routerLink = "/login" *ngIf = "!(authService.getUser() | async)">Login</a>
      <a class = "whitelink" (click) = "logout()" *ngIf = "(authService.getUser() | async)">Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
