<div class ="page">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Register</mat-card-title>
    <mat-card-subtitle>Nice to meet you</mat-card-subtitle>
  </mat-card-header>
  
    <form #signupForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Email</mat-label>
              <input matInput placeholder="example: you@you.com"
                [(ngModel)] = "email"
                name = "email"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Password</mat-label>
              <input matInput placeholder="example: 42343@@##aZ"
                [(ngModel)] = "password"
                name = "password"
                type = "password"
                required>
              <mat-hint>6 chracters or more</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Confirm Password</mat-label>
              <input matInput placeholder="example: 42343@@##aZ"
                [(ngModel)] = "confirmPassword"
                name = "confirmPassword"
                type = "password"
                required>
            </mat-form-field>
          </p>
        <div >
        
        <mat-card-actions>
          <button mat-raised-button (click) = "back()">Back</button>
            <button mat-raised-button color="primary"
                    [disabled]="!signupForm.form.valid"
                     (click)="onSubmit()">
                     Sign Up
            </button>
          </mat-card-actions>
        </div>
        <mat-error><p *ngIf="confirmPasswordError"><mat-icon>error</mat-icon>The passwords don't match</p></mat-error>
        <mat-error><p *ngIf = "isError"><mat-icon>error</mat-icon>{{errorMessage}}</p></mat-error>
      </div>
    </form>
   </mat-card>
  </div>