.example-card {
    margin-top: 5%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .example-header-image {
    background-image: url('http://www.idealdiamonds.be/wpimages/1398325576.jpg');
    background-size: cover;
  }

  .page{
    height: 700px;
    background-color: rgb(252, 248, 248);

  }

  .example-container{
    margin-left: 22.5%;
  }