
  <div class="welcome" style="background-image: url('https://ec.europa.eu/programmes/horizon2020/sites/horizon2020/files/newsroom/diamond_on_the_water_2_12148_1.jpg');">
    <div *ngIf = "!(authService.getUser()|async)">
        <h1>Welcome To Diamonds Club</h1>
        <div class="connect">
            <b>To connect Please Press login or create an account.</b>
        </div>
    </div>
    <div *ngIf = "(authService.getUser()|async)">
        <h1>Welcome {{email}}</h1>
        <div class="connect">
            <p>You Logged In Successfully</p>
        </div>
    </div>
</div>