.welcome{
    text-align: center;
    height: 730px;
    width: 100%;
    color:black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.connect{
  font-size: large;
}