.content {
    padding: 16px;
  }
  
  .content > mat-card {
    margin-bottom: 16px;
  }
  
  .example-card {
    margin-top: 3%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  .second-card{
    margin-top: 3%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .example-header-image {
    background-image: url('http://www.idealdiamonds.be/wpimages/1398325576.jpg');
    background-size: cover;
  }

  .page{
    height: 700px;
  }

  .example-container{
    margin-left: 22.5%;
  }

  .spacer{
    margin-top: 10px;
  }