  <mat-horizontal-stepper [linear]="isLinear" #stepper style="background-color: rgb(252, 248, 248);">
    <mat-step [stepControl]="firstFormGroup">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Diamond Parameters</mat-card-title>
          <mat-card-subtitle>Add a new diamond with a prediction price</mat-card-subtitle>
        </mat-card-header>
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Diamond Parameters</ng-template>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Weight [carat]</mat-label>
            <input matInput placeholder="Carat Weight" [(ngModel)] = "weight" name = "weight" type = "number" min="0" formControlName="weight" required>
            <mat-error *ngIf="weight">The Carat weight can be min 0</mat-error>
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>Shape</mat-label>
            <mat-select place-holder = "Diamond Shape" [(ngModel)] = "shape" name = "shape" formControlName="shape" required>
                <mat-option value="Round">Round</mat-option>
                <mat-option value="Princess">Princess</mat-option>
                <mat-option value="Emerald">Emerald</mat-option>
                <mat-option value="Asscher">Asscher</mat-option>
                <mat-option value="Oval">Oval</mat-option>
                <mat-option value="Pear">Pear</mat-option>
                <mat-option value="Marquise">Marquise</mat-option>
            </mat-select>
            </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
          <mat-label>Color</mat-label>
          <mat-select place-holder = "Diamond Color" [(ngModel)] = "color" name = "color" formControlName="color" required>
              <mat-option value="D">D</mat-option>
              <mat-option value="E">E</mat-option>
              <mat-option value="F">F</mat-option>
              <mat-option value="G">G</mat-option>
              <mat-option value="H">H</mat-option>
              <mat-option value="I">I</mat-option>
              <mat-option value="J">J</mat-option>
          </mat-select>
          </mat-form-field>
          &nbsp;	
          <mat-form-field appearance="fill">
          <mat-label>Clarity</mat-label>
          <mat-select place-holder = "Diamond Clarity" [(ngModel)] = "clarity" name = "clarity" formControlName="clarity" required>
              <mat-option value="IF">IF</mat-option>
              <mat-option value="VVS1">VVS1</mat-option>
              <mat-option value="VVS2">VVS2</mat-option>
              <mat-option value="VS1">VS1</mat-option>
              <mat-option value="VS2">VS2</mat-option>
              <mat-option value="SI1">SI1</mat-option>
              <mat-option value="SI2">SI2</mat-option>
              <mat-option value="I1">I1</mat-option>
          </mat-select>
          </mat-form-field>
          &nbsp;	
          <mat-form-field appearance="fill">
          <mat-label>Cut</mat-label>
          <mat-select place-holder = "Diamond Cut" [(ngModel)] = "cut" name = "cut" formControlName="cut" required>
              <mat-option value="Ideal">Ideal</mat-option>
              <mat-option value="Premium">Premium</mat-option>
              <mat-option value="Very Good">Very Good</mat-option>
              <mat-option value="Good">Good</mat-option>
              <mat-option value="Fair">Fair</mat-option>
          </mat-select>
          </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Length [mm]</mat-label>
          <input matInput placeholder="Diamond Length" [(ngModel)] = "x" name = "x" type = "number" min="0" formControlName="x" required>
          <mat-error *ngIf="x">The length can be min 0</mat-error>

        </mat-form-field>
        &nbsp;	
      
        <mat-form-field appearance="standard">
          <mat-label>Width [mm]</mat-label>
          <input matInput placeholder="Diamond Width" [(ngModel)] = "y" name = "y" type = "number" min="0" formControlName="y" required>
          <mat-error *ngIf="y">The width can be min 0</mat-error>
        </mat-form-field>
        &nbsp;	
        <mat-form-field appearance="standard">
          <mat-label>Height [mm]</mat-label>
          <input matInput placeholder="Diamond Height" [(ngModel)] = "z" name = "z" type = "number" min="0" formControlName="z" required>
          <mat-error *ngIf="z">The height can be min 0</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Table [%]</mat-label>
          <input matInput placeholder="Diamond Table" [(ngModel)] = "table" name = "table" type = "number" min = "0.01" max = "88" step = "0.01" formControlName="table" required>
          <mat-error *ngIf="table">The Table can be between 0.01% and 88%</mat-error>
        </mat-form-field>
        &nbsp;	
            <mat-form-field appearance="standard">
              <mat-label>Depth [%]</mat-label>
              <input matInput placeholder="Diamond Depth" [(ngModel)] = "depth" name = "depth" type = "number" min = "0.01" max = "93.1" step = "0.01" formControlName="depth" required>
              <mat-error *ngIf="depth">The Depth can be between 0.01% and 93.1%</mat-error>
            </mat-form-field>
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Price [$]</mat-label>
                <input matInput placeholder="Diamond Price" [(ngModel)] = "price" name = "price" type = "number" min="0" formControlName="price" required>
                <mat-error *ngIf="price">The price can be min 0$</mat-error>
              </mat-form-field>
              &nbsp;	
              <button mat-raised-button color="primary" (click) = "predict()">Predict</button> 
            </p>
        <div>
          <mat-card-actions>
          <button mat-raised-button (click) = "cancel()">Cancel</button> 
          &nbsp;	
          <button mat-raised-button color="primary" matStepperNext (click)='getImage()'>Next</button>
        </mat-card-actions>
        </div>
      
      </form>
    </mat-card>

    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="More Details">
      <mat-card class="second-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>More Details</mat-card-title>
          <mat-card-subtitle>Add a URL Image and URL Details</mat-card-subtitle>
        </mat-card-header>
      <form [formGroup]="secondFormGroup">
        <p>
          <mat-form-field style="width:380px;" appearance="standard">
            <mat-label>Image</mat-label>
            <input matInput placeholder="Image URL" [(ngModel)] = "image" name = "image" formControlName="image" required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field style="width:380px;" appearance="standard">
            <mat-label>Details</mat-label>
            <input matInput placeholder="Details URL" [(ngModel)] = "details" name = "details" formControlName="details" required>
          </mat-form-field>
        </p>
        <div>
          <mat-card-actions>
          <button mat-raised-button matStepperPrevious>Back</button>
          &nbsp;	
          <button mat-raised-button color="primary" matStepperNext>Next</button>
          </mat-card-actions>

        </div>

      </form>
    </mat-card>

    </mat-step>
    <mat-step>
      
      <ng-template matStepLabel>Preview</ng-template>
      <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
          <div [fxFlex]="(100/4) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" style="margin-left: auto; margin-right: auto;">
            <mat-card class="mat-elevation-z4" >
              <mat-card-header>
                <mat-card-title>{{shape}} Diamond</mat-card-title>
                <mat-card-subtitle>{{color}} | {{clarity}} | {{weight}} Carat </mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="{{image}}">
              <mat-card-content>
                <p>
                  <b>Price: </b>
                  {{price  | number :'1.0-0'}}$
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a mat-raised-button href="{{details}}" target="_blank">More Details</a>
              </mat-card-actions>
              
            </mat-card>
            <div class="spacer">
              
              <button mat-raised-button matStepperPrevious>Back</button>
              &nbsp;	
              <button mat-raised-button color="warn" (click) = "stepper.reset();cancel()">Cancel</button> 
              &nbsp;	
              <button mat-raised-button color="primary" (click) = "saveDiamond()">Save</button> 
      
            </div>
          </div>
        </div>
        
      </div>
      
    </mat-step>
  </mat-horizontal-stepper>

            
    
