<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/3.5) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" style="margin-left: auto; margin-right: auto;">
        <mat-card class="mat-elevation-z4" >
          <mat-card-header>
            <mat-card-title>Please upload picture of a Manager</mat-card-title>
            <mat-card-subtitle>
              <div class="main">
              <input hidden (change)="onFileUpload($event)" class="custom-file-input" #inputImage placeholder="Upload File" type="file" />
              <button *ngIf="!uploudedphoto" mat-raised-button (click)="inputImage.click()" class="myButton">Upload Image</button>
              <button *ngIf="uploudedphoto" mat-raised-button (click)="inputImage.click()" class="myButton">Try Other Image</button>
              <button *ngIf="uploudedphoto" mat-raised-button color="primary" (click) = "reko()">Recognition</button> 
            </div>
          </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src={{photo}}>
          <mat-card-content>
            <div *ngIf="match">
              <p>
                  <b>Name: </b>
                  {{name}}
              </p>
              <p>
                  <b>City: </b>
                  {{city}}
              </p>
              <p>
                <b>Phone: </b>
                {{phone}}
            </p>
            <p>
              <b>Birth Date: </b>
              {{birthDate}}
          </p>
          </div>
          <div *ngIf="nomatch">
            <p class="red"><b>No Recognized</b></p>
            <p class="noRestxt">Manager doesn't exist in the database, please try other image!</p>
          </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    
  </div>