.content {
    padding: 16px;
  }
  
  .content > mat-card {
    margin-bottom: 16px;
  }
  
  .example-card {
    margin-top: 3%;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
  }

  .second-card{
    margin-top: 3%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
 

  .page{
    height: 700px;
  }

  .example-container{
    margin-left: 22.5%;
  }

  .spacer{
    margin-top: 10px;
  }

  .noRestxt{
    margin-top: 2%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .red{
    margin-top: 3%;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: red;
  }