<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<div *ngIf = "(authService.getUser()|async)">
  <p *ngIf = "!(diamonds$ | async)"> loading all diamonds... </p>
  <mat-progress-bar *ngIf = "!(diamonds$ | async)" mode="indeterminate"></mat-progress-bar>
  <div class="content">
    <button mat-stroked-button color="primary" (click)="toggleGridColumns()" fxHide.lt-md>
      <span *ngIf="gridColumns === 4">Three Columns</span>
      <span *ngIf="gridColumns === 3">Four Columns</span>
    </button>
  </div>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let diamond of diamonds$ | async" style="display: flex;">
            <mat-card class="mat-elevation-z4" >
              <mat-card-header>
                <mat-card-title> {{diamond.shape}} Diamond</mat-card-title>
                <mat-card-subtitle>{{diamond.color}} | {{diamond.clarity}} | {{diamond.weight}} Carat</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="{{diamond.image}}">
              <mat-card-content>
                <p>
                  <b>Price: </b>
                  {{diamond.price  | number :'1.0-0'}}$
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a mat-raised-button href="{{diamond.details}}" target="_blank">More Details</a>
                <button mat-raised-button color="primary" (click)="saveDiamond(diamond.weight, diamond.color, diamond.clarity, diamond.shape, diamond.price, diamond.image, diamond.details)">Save Diamond</button>            
              </mat-card-actions>
            </mat-card>
      </div>
    </div>
  </div>
</div>
