<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<div *ngIf = "(authService.getUser()|async)">
<p *ngIf = "!(diamonds$ | async)"> loading all diamonds... </p>
<mat-progress-bar *ngIf = "!(diamonds$ | async)" mode="indeterminate"></mat-progress-bar>

<div class="content">
  <button mat-stroked-button color="primary" (click)="toggleGridColumns()" fxHide.lt-md>
    <span *ngIf="gridColumns === 4">Three Columns</span>
    <span *ngIf="gridColumns === 3">Four Columns</span>
  </button>
</div>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab label="Inventory"> 
    <div *ngIf="!diamonds || diamonds.length === 0">
      <p>No diamonds in Inventory</p>
  </div>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let diamond of diamonds;let i = index">
      
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title> {{diamond.shape}} Diamond</mat-card-title>
          <mat-card-subtitle>{{diamond.color}} | {{diamond.clarity}} | {{diamond.weight}} Carat</mat-card-subtitle>
        </mat-card-header>
        <img *ngIf = "!CardToSale[i]" mat-card-image src="{{diamond.image}}">   
        <mat-card-content>
          <p>
            <b>Price: </b>
            {{diamond.price  | number :'1.0-0'}}$
          </p>
        </mat-card-content>
        <div *ngIf = "CardToSale[i]" class="example-container">
          <p>
              <mat-form-field appearance="standard">
                <mat-label>Customer</mat-label>
                <input matInput 
                  [(ngModel)] = "customer"
                  name = "customer"
                  required>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Date</mat-label>
                <input matInput 
                  [(ngModel)] = "date"
                  name = "date"
                  type="date"
                  required>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Hour</mat-label>
                <input matInput 
                  [(ngModel)] = "hour"
                  name = "hour"
                  type="time"
                  required>
              </mat-form-field>
            </p>
        </div>
        <mat-card-actions *ngIf = "CardToSale[i]">
        <button mat-raised-button (click)="CardToSale[i] = !CardToSale[i];cancel();">Cancel</button>            
        <button mat-raised-button color="primary" (click)="saleDiamond(diamond.id, diamond.sold, diamond.weight, diamond.color, diamond.clarity, diamond.shape, diamond.price, diamond.image, diamond.details);CardToSale[i] = !CardToSale[i]">Save</button>     
      </mat-card-actions>
        <mat-card-actions *ngIf = "!CardToSale[i]">
          <a mat-raised-button href="{{diamond.details}}" target="_blank">More Details</a>
          <button mat-raised-button color="primary" (click) = "CardToSale[i] = !CardToSale[i]">Sale Diamond</button>            
        </mat-card-actions>
        
      </mat-card>
    </div>
  </div>
  </div>
</mat-tab>
  <mat-tab label="Sold"> 
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let diamond of diamondSold">
          <mat-card class="mat-elevation-z4" >
            <mat-card-header>
              <mat-card-title> {{diamond.shape}} Diamond</mat-card-title>
              <mat-card-subtitle>{{diamond.color}} | {{diamond.clarity}} | {{diamond.weight}} Carat</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{diamond.image}}">
            <mat-card-content>
              <p>
                <b>Price: </b>
                {{diamond.price  | number :'1.0-0'}}$
                
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a mat-raised-button href="{{diamond.details}}" target="_blank">More Details</a>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      </div>

  </mat-tab>
</mat-tab-group>

</div>
